__pycache__/
*.py[cod]
*.pyo
*.pyd
*.so
*.egg
*.egg-info/
dist/
build/
.eggs/

venv/
env/
.venv/
.env/

save.pkl
saves/
*.sav

asset_map/*.tiled-session
merged/

.vscode/
.idea/
*.sublime-project
*.sublime-workspace

.DS_Store
Thumbs.db
desktop.ini

*.log
